@font-face {
    font-family: domain;
    src: url(./domain.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    overflow: hidden;
    background-color: #C4BCB3;
}

#page1 {
    height: 140vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 0 30px;
    border-bottom: 1px solid #222;
}

#nav img {
    height: 20px;
    width: 30%;
}

#nav h5 {
    font-size: 13px;
    font-weight: 100;
    width: 30%;
}

#nav i {
    font-size: 20px;
    text-align: right;
    width: 30%;
}

#elems {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 350px;
    width: 100%;
    padding: 25px;
}

#elem1 {
    width: 30%;
    height: 100%;
}

#elem2 {
    width: 30%;
    height: 100%;
    border-right: 1.5px solid #7e7e7e;
    border-left: 1.5px solid #7e7e7e;
    padding: 20px 30px;
    text-align: center;
}

#elem3 {
    width: 30%;
    height: 100%;
}

#elems-img {
    height: 50%;
    width: 100%;
    overflow: hidden;
    /* transition: all ease-in 0.5s; */
}

#elems-img:hover img {
    scale: 1.03;
    transition-duration: 0.3s;
}

#elems img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#elem1 h4 {
    font-size: 20px;
    /* font-weight: 600; */
    margin: 15px 0;
    font-family: canopee;
}

#elem1 h4 span {
    background-color: #B93C12;
    padding: 2px;
    color: #C7BFB6;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 300;
    margin-left: 6px;
}

#elems #elem1 p {
    font-family: domain;
    font-size: 18px;
    color: #545454;
    /* width: 100%;
    height: 100%; */
}

#elem2 h1 {
    font-size: 50px;
    font-weight: 600;
    font-family: domain;

}

#elem2 h2 {
    padding: 20px 0;
    font-size: 35px;
    font-weight: 10;
    font-family: domain;
    color: #383838;

}

#elem2 p {
    font-family: domain;
    font-size: 18px;
    color: #545454;
}

#elem3 h4 {
    font-size: 20px;
    /* font-weight: 600; */
    margin: 10px 0;
    font-family: canopee;
}

#elem3 h4 span {
    background-color: #B93C12;
    padding: 2px;
    color: #C7BFB6;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 300;
    margin-left: 6px;
}

#elem3 p {
    font-family: domain;
    font-size: 18px;
    color: #545454;
}

#name {
    font-size: 500px;
    font-family: canopee;
    /* text-align: center; */
    letter-spacing: -30px;
    width: 95%;
    font-weight: 100;
    background-color: #1C1C19;
    color: #C7BFB6;
    margin: 0 30px;
    margin-right: 55px;
    width: 95%;
    line-height: 420px;
}

#page2 {
    height: 180vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

#page2-left {
    height: 100%;
    padding-right: 50px;
    width: 35%;
    border-right: 1px solid #4b4b4b;
}

#page2-left h2 {
    font-size: 100px;
    font-family: canopee;
    line-height: 150px;
    font-weight: 550;
    letter-spacing: -4px;
}

#page2-left h2 span {
    font-size: 150px;
    font-weight: 900;
}

#page2-left img {
    height: 50%;
    width: 100%;
    object-fit: cover;
}

#page2-left p {
    font-size: 22px;
    font-family: domain;
    color: #2f2f2f;
    margin-top: 20px;
}

#page2-right {
    height: 100%;
    width: 70%;
}

#page2-right img {
    height: 57%;
    padding-left: 30px;
    object-fit: cover;
    width: 100%;
}

#page2-right h1 {
    font-family: canopee;
    font-size: 98px;
    font-weight: 100;
    letter-spacing: -2px;
    padding-left: 30px;
}

#page3 {
    height: 70vh;
    width: 100%;
    padding: 40px;
    display: flex;
}

#page3 h1 {
    font-size: 320px;
    font-family: canopee;
    text-align: center;
    letter-spacing: -5px;
    width: 60%;
    font-weight: 100;
    background-color: #1C1C19;
    color: #C7BFB6;
    width: 95%;
    padding: 40px;
    line-height: 220px;
}

#page3 img {
    width: 30%;
    height: 100%;
    margin: 0 20px;
}

#page4 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

#page4-left {
    width: 65%;
    height: 100%;
    padding: 20px 40px;
    border-right: 1px solid rgb(43, 41, 41);
}

#page4-left img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page4-right {
    width: 35%;
    height: 100%;
    padding: 20px 60px;
}

#page4-right p {
    font-size: 23px;
    font-family: domain;
    font-weight: 100;
    color: #2f2f2f;
    margin-bottom: 20px;
    line-height: 30px;
}

#page4-right #anda {
    height: 150px;
    background-color: #CAC1B6;
    border: 1px solid #2f2f2fc6;
    border-radius: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: hidden;
}

#anda h1 {
    font-size: 60px;
    font-weight: 100;
    font-family: canopee;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-20%);
    transition: all ease 0.6s;
}

#anda img {
    height: 35px;
    transition: all ease 0.6s;
    transform: translateX(-120%);
}

#anda:hover img {
    transform: translateX(100%);

}

#anda:hover h1 {
    transform: translateX(100%);

}

#page5 {
    margin: 20px 0;
    height: 150px;
    width: 100%;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: canopee;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
}

#page5-div {
    display: flex;
    align-items: center;

}

#page5-div h3 {
    font-size: 30px;
    font-weight: 100;
    color: #4b4b4b;
}

#page5-div h1 {
    font-size: 50px;
    font-weight: 100;

}

#page5-div h2 {
    font-size: 120px;
    font-weight: 100;
    margin-left: 10px;
}

#page6 {
    height: 60vh;
    width: 100%;
    padding: 40px;
    display: flex;
    align-items: center;
    font-family: domain;
}

#page6 h1 {
    font-size: 300px;
    font-family: canopee;
    text-align: center;
    letter-spacing: -15px;
    font-weight: 100;
    background-color: #1C1C19;
    color: #C7BFB6;
    width: 95%;
    padding: 30px;
    line-height: 220px;
}

#page6 #awards {
    padding: 30px;
}

#page6 #awards h2 {
    font-size: 80px;
    letter-spacing: -2px;

}

#page6 #awards p {
    font-size: 25px;
    font-weight: 50;
    color: #383838;
}

#page8 {
    height: 25vh;
    width: 100%;
}

#moving-div {
    position: absolute;
    white-space: nowrap;
    padding: 1.2vw;
    overflow: hidden;
    width: 100%;
    border-top: 1px solid #4b4b4b;
    border-bottom: 1px solid #4b4b4b;
}

#moving-div #move {
    display: inline-block;
    font-size: 80px;
    font-weight: 100;
    padding: 10px;
    animation-name: mobe;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    font-family: domain;
    color: #383838;
}

#moving-div #move span {
    height: 100%;
    width: 100%;
    background-color: #1C1C19;
    padding: 5px;
    color: #C4BCB3;
    text-transform: uppercase;
    letter-spacing: -3px;
}

@keyframes mobe {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(-100%);
    }

}

footer {
    height: 10vh;
    width: 100%;
    /* background-color: #B93C12; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;

}

#cor-l {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

#cor-l h3 {
    text-transform: uppercase;
    font-weight: 100;
    font-family: canopee;
}

#cor-l img {
    height: 25px;
    width: 20px;
}

#cor-r ul {
    display: flex;
    font-size: 17px;
    font-weight: 100;
    white-space: nowrap;
    gap: 20px;
    align-items: center;
    font-family: canopee;
}